---

---

<section class="py-36 scroll-m-20 w-full mx-auto container md:max-w-4xl">
    <div class="max-w-xl">
        <div class="flex gap-4 mb-4">
            <img
                src="img/foto.webp"
                alt="foto-perfil"
                class="rounded-full size-20 shadow-lg"
            />
            <a
                class="text-white flex items-center md:justify-center transition hover:scale-105"
                href="https://www.linkedin.com/in/er1kdev/"
                target="_blank"
            >
                <div class="bg-violet-900 px-3 py-1 rounded-full">
                    Disponible para trabajar
                </div>
            </a>
        </div>
        <h1 class="text-4xl md:text-5xl text-white font-bold">
            Hola, soy <span class="typed"></span>
        </h1>
        <p class="text-gray-300 mt-6 text-xl [&>strong]:text-violet-400">
            Egresado de <strong>Ingeniería en Informática</strong>, apasoniado
            por la programación y la tecnología en especial por el <strong
                >Desarrollo Front-End</strong
            >. Actualmente me encuentro en la búsqueda de nuevas oportunidades
            laborales.
        </p>
        <nav class="text-white flex flex-wrap gap-4 mt-8">
            <a
                class="text-xl gap-2 inline-flex justify-center items-center bg-violet-900 rounded-full px-4 py-1 transition hover:bg-white hover:text-black"
                href="mailto:erick_caceres@outlook.cl"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
                    ></path>
                    <path d="M3 7l9 6l9 -6"></path>
                </svg>
                Contactame</a
            >
            <a
                class="text-xl gap-2 inline-flex justify-center items-center bg-violet-900 rounded-full px-4 py-1 transition hover:bg-white hover:text-black"
                href="https://www.linkedin.com/in/er1kdev/"
                target="_blank"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M8 11v5"></path>
                    <path d="M8 8v.01"></path>
                    <path d="M12 16v-5"></path>
                    <path d="M16 16v-3a2 2 0 1 0 -4 0"></path>
                    <path
                        d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"
                    ></path>
                </svg>
                LinkedIn</a
            >
            <a
                class="text-xl gap-2 inline-flex justify-center items-center bg-violet-900 rounded-full px-4 py-1 transition hover:bg-white hover:text-black"
                href="https://github.com/Er1kDev"
                target="_blank"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                    ></path>
                </svg>
                Github</a
            >
        </nav>
    </div>
</section>

<script>
    import Typed from "typed.js";

    new Typed(".typed", {
        strings: ["Erik", "Er1kDev"],
        typeSpeed: 50,
        backSpeed: 50,
        loop: true,
    });
</script>
